@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Norican&family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,200&family=Share+Tech&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif, poppins, share tech, Norican;
  background: url("./backgroundimage.jpg"),rgba(0, 0, 0, 0.925);
  z-index: -1;
}
.Btn:hover .text {
  @apply opacity-100 w-[70%] duration-[0.3s] pr-2.5;
}
.Btn:hover .sign {
  @apply w-[30%] duration-[0.3s] pl-5;
}
